.home {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  color: white;
  background: linear-gradient(to bottom, #000332, #050643);


  .content {
    position: relative;
    margin: auto;
    width: 100%;
    background: url("/common/h-bg.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;

    .logo {
      display: block;
      margin: auto;
      padding-top: 80px;
      width: 200px;
      align-self: center;
    }

    .des {
      margin-top: 22px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 24px;

      p {
        opacity: .8;
      }

      .title {
        line-height: 55px;
        font-size: 40px;
        opacity: 1;
      }
    }

    .btn {
      display: block;
      width: 200px;
      margin: auto;
      margin-top: 30px;
      height: 36px;
      background: #3D6CE2;
      color: white;
      text-align: center;
      line-height: 36px;
      border-radius: 20px;
      font-size: 14px;
      transition: opacity .2s ease-out;
      padding:  0 15px;

      &:hover {
        opacity: .8;
      }
    }
  }

  .user-content {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    

    .total {
      font-size: 36px;
      line-height: 1.5;
      color: #C1E2FF;
    }

    .coin-name {
      opacity: .5;
      font-size: 14px;
    }
  }
}

.user {
  padding-top: 50px;
  width: 100%;
  text-align: center;

  img {
    height: 100px;
  }

  .name {
    line-height: 30px;
    font-size: 16px;
    padding: 10px 0px;
  }

  .msg {
    font-size: 12px;
    opacity: .5;
  }
}

.h-t {
  width: 100%;
  background-color: white;
}

.h-box {
  display: block;
  max-width: 756px;
  width: 52.5%;
  height: auto;
  margin: auto;
  margin-bottom: -15%;
}

.block-list {
  padding-bottom: 100px;
  // padding-top: 150px;
}

.block-item {
  position: relative;
  display: flex;
  padding: 100px 10px 0 20px;
  margin: auto;
  justify-content: space-between;
  max-width: 1100px;

  .block-img {
    margin-top: 10px;
    width: 24%;
    align-self: center;
  }

  .block-text {
    width: 100%;    
    padding-left: 45px;
    padding-right: 20px;
    color: #0033AC;

    .block-img-mobile {
      display: none;
    }

    .tips {
      display: flex;
      font-size: 16px;
      line-height: 22px;
      align-items: center;

      .border-left {
        width: 30px;
        height: 1px;
        background-color: #0033AC;
        margin-right: 15px;
      }

      .border-right {
        width: 30px;
        height: 1px;
        background-color: #0033AC;
        margin-left: 15px;
      }
    }

    .title {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 32px;
      line-height: 45px;
    }

    .des {
      font-size: 14px;
      line-height: 24px;
    }

    .more {
      display: flex;
      margin-top: 30px;

      .btn {
        display: flex;
        align-items: center;
        color: #0033AC;
        font-size: 14px;
        border: 1px solid #719BFF;
        border-radius: 35px;
        padding: 6px 15px;
        cursor: pointer;
        transition: all .2s ease-out;
        margin-right: 30px;

        img {
          width: 14px;
          height: auto;
          margin-right: 5px;
          align-self: center;
        }

        .btn-icon2 {
          width: 21px;
        }

        .btn-icon3 {
          width: 12px;
        }

        .btn-icon4 {
          width: 18px;
        }

        .btn-icon5 {
          width: 20px;
        }

        .btn-icon6 {
          width: 18px;
        }

        &:hover {
          background-color: #719BFF;
          color: white;
        }
      }
    }
  }
}

.block2 {
  .block-img {
    width: 35%;
    margin-top: 50px;
  }
  .block-text {
    padding-left: 0;
    .des {
    }
  }
}

.block3 {
  .block-img {
    width: 35%;
  }
  .block-text {
    margin-left: 0;
    // margin-top: 60px;

    .des {
    }
  }
}

.block4 {
  .block-img {
    width: 38%;
    margin-top: 20px;
  }
  .block-text {
    padding-left: 0;

    .des {
    }
  }
}

.block5 {
  .block-img {
    margin-top: 0;
    width: 22%;
  }
  .block-text {
    margin-left: 0;

    .other {
      display: flex;
      margin-top: 30px;
      align-items: center;

      div {
        display: flex;
      }

      .logo {
        width: 171px;
        align-self: flex-start;
        margin-right: 24px;
      }

      span {
        display: block;
        font-size: 14px;
        color: #666666;
        line-height: 24px;
      }
    }

    .des {
    }

    .more {
      margin-top: 40px;
    }
  }
}

.block6 {
  .block-img {
    width: 46%;
  }
  .block-text {
    padding-left: 0;

    .des {
    }
  }
}

.block7 {
  .block-img {
    width: 42%;
  }
  .block-text {
    margin-left: 0;

    .des {
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #000332;
  z-index: 100;

  .close img {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    opacity: .6;
    cursor: pointer;
    transition: opacity .2s ease-out;
    z-index: 10;

    &:hover {
      opacity: 1;
    }
  }
}

.model-content {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
  width: 100%;
}

.write-box {
  color: white;
  height: auto;
  margin-top: 100px;

  .title {
    font-size: 20px;
    text-align: center;
  }

  .input-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-top: 30px;

    p {
      width: 100%;
      padding-left: 16px;
    }

    input, textarea, select {
      width: 100%;
      line-height: 40px;
      height: 40px;
      font-size: 14px;
      margin-top: 10px;
      background: none;
      border: 1px solid rgba($color: #ffffff, $alpha: .2);
      border-radius: 4px;
      padding: 0 16px;
      outline: none;
      transition:  all .3s ease-out;
      color: white;
      appearance:none;

      & + i {
        position: absolute;
        font-size: 14px;
        right: 5px;
        top: 23px;
      }

      &.no-choose {
        opacity: .5;
      }

      &.no-choose + i{
        opacity: .5;
      }

      &:focus {
        border: 1px solid rgba($color: #ffffff, $alpha: .8);
      }

      &::-webkit-input-placeholder {
        color: white;
        opacity: .5;
      }
    }

    textarea {
      line-height: 25px;
      padding-top: 10px;
      height: 130px;
      resize: none;
    }
  }

  .pc-select {
    display: block;
  }

  .mobile-select {
    display: none;
  }

  .submit {
    display: block;
    margin: 100px auto;
    width: 300px;
    height: 44px;
    background-color: #3D6CE2;
    border-color: #3D6CE2;
  }
}

.loading-img img {
  position: absolute;
  top: 240px;
  left: 100px;
  width: 188px;
}

.success-box {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding:  0 5%;

  p {
    font-size: 14px;
    opacity: .7;
  }

  .success-img {
    width: 73px;
    align-self: center;
    margin-top: 195px;
  }

  .title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 1;
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      width: 100%;
      text-align: center;
    }
  }

  .group-list {
    display: flex;
    justify-content: space-around;
    width: 320px;
    margin: 90px auto;

    img {
      width: 50px;
    }
  }
}

.show-logo {
  margin-bottom: 100px;
  text-align: center;
  .title {
    position: relative;
    font-size: 32px;
    line-height: 45px;
    height: 140px;
    color: #0033AC;
    background-size: auto 100%;
    padding-top: 20px;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      height: 70px;
      transform: translateX(-50%);
    }

    span {
      display: block;
      position: relative;
      &:before {
        position: absolute;
        bottom: -15px;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, rgba(125, 184, 237, 0), #7AFDE2 30%, #598DFD 60%, #598DFD 70%, #7AFDE2 80%, rgba(125, 184, 237, 0) 100%);
      }

      &:after {
        position: absolute;
        bottom: -21px;
        left: 50%;
        content: "";
        width: 14px;
        height: 14px;
        background-color: #598DFD;
        border-radius: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .logo-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 40px;  
      margin-bottom: 40px;    
    }
    img {
      height: 80px;
    }
  }
}

.team {
  margin-top: 120px;
  margin-bottom: 20px;
  padding: 0 20px;

  .title {
    height: 100px;
  }

  .des {
    margin: auto;
    max-width: 840px;
    color: #0033AC;
    font-size: 16px;
  }
}


.partner-investor {
  .logo-list {
    img {
      height: 60px;
    }
  }
}



// 英文
.language-en {
  .block2 {
    .block-img {
      position: absolute;
      right: 0;
      top: 200px;
      width: 400px;
    }
    .block-text {
      margin-left: 0;

      .title {
        width: 1000px;
      }

      .des {
        width: 600px;
      }
    }
  }

  .block5 {
    .other span {
      width: auto;
    }
  }
}

.activity {
  color: white;
  .a-bg {
    display: block;
    width: 100%;
  }
  .a-content {
    margin-top: -20px;
    min-height: 270px;
    // background: linear-gradient(to top, #002A9C, #00058A);
    background-image: url("/common/a-bg2.png");

    .title {
      font-size: 32px;
      text-align: center;
    }

    .tips {
      display: block;
      width: 151px;
      margin: auto;
      padding: 20px 0;
      margin-bottom: 30px;
    }
  }

}



.language-not-zh {
  .block7 .block-text {
    padding-left: 20px;
    .des {
      width: 100%;
    }
  }
}


@media screen and (max-width: 1200px) {
  header {    
    .content {  
      .logo {
        padding-top: 80px;
        width: 150px;
      }
  
      .des {
        .title {
          line-height: 1.5;
          font-size: 30px;
          opacity: 1;
        }
      }

      .user-content {
        margin-top: 20px;
    
        .total {
          font-size: 30px;
        }
    
        .coin-name {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {    
    .content {  
      .logo {
        padding-top: 50px;
        width: 100px;
        margin-top: 0;
      }
  
      .des {
        .title {
          line-height: 1.5;
          font-size: 25px;
          opacity: 1;
        }
      }

      user-content {
        margin-top: 15px;
    
        .total {
          font-size: 28px;
        }
    
        .coin-name {
          font-size: 13px;
        }
      }
    }
  }

  // 列表的兼容
  .block-item {
    padding: 35px 5% 35px 5%;
    .block-img {
      display: none;
    }

    .block-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 0;
      p {
        width: 100%;
      }

      .tips {
        display: flex;
        justify-content: center;
        font-size: 13px;
      }

      .title {
        font-size: 18px;
        color: #0033AC;
        font-weight: bold;
      }

      .des {
        font-size: 14px;
      }

      .block-img-mobile {
        display: block;
        width: 130px;
        align-self: center;
        margin: 24px 0;
      }

      .more {
        display: flex;
        flex-wrap: wrap;
        .btn {
          margin: 0px auto 10px auto;
          font-size: 14px;
          padding: 10px 20px;
        }
      }
    }
  }

  .block-item:nth-child(even) {
    background-color: #F8F8F8;
  }

  .block2 {
    .block-text {
      .block-img-mobile {
        width: 260px;
      }
    }
  }

  .block3 {
    .block-text {
      .block-img-mobile {
        width: 260px;
      }
    }
  }

  .block4 {
    .block-text {
      .block-img-mobile {
        width: 260px;
      }

      .more {
        .btn {
          min-width: 240px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }


  .block5 {
    .block-text {
      .block-img-mobile {
        margin: 0;
      }

      .other {
        padding: 0 5%;
        align-items: flex-start;
        div {
          padding: 0 20px;
          justify-content: center;
          flex-wrap: wrap;  
          
          .logo {
            margin-bottom: 30px;
          }
        }
      }
    }

    .more {
      .btn {
        min-width: 240px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .block6 {
    .block-text {
      .block-img-mobile {
        width: 260px;
      }
    }
  }

  .block7 {
    .block-text {
      .block-img-mobile {
        width: 260px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
   .h-box {
    width: 80%;
  }
  header {   
    .content {  
      background-image: none;
      .logo {
        padding-top: 20px;
        width: 100px;
        margin-top: 0;
      }
  
      .des {
        padding:  0 20px;
        .title {
          line-height: 1.5;
          font-size: 20px;
          opacity: 1;
        }
      }

      .btn {
        margin-top: 20px;
      }
    }
  }


  .show-logo {
    margin-bottom: 20px;
    .title {
      font-size: 24px;

      span {
        padding-top: 20px;
      }

      img {
        width: 90%;
        height: auto;
        top: 40%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    .des {
      padding: 0 20px;
    }

    .logo-list {
      img {
        height: 60px;
      }
    }
  }

  .team {
    margin-bottom: 0;
    padding: 10px;
    margin-top: 30px;

    .title span {
      padding-top: 0;
    }

    .des {
      font-size: 12px;
    }
  }

  .model .close img {
    width: 40px;
    top: 20px;
    right: 20px;
  }

  .write-box {
    margin-top: 40px;
    .input-item {
      width: 95%;

      p {
        display: none;
        margin-top: 10px;
      }
    }

    .pc-select {
      display: none;
    }
  
    .mobile-select {
      display: block;
    }

    .submit {
      margin-top: 30px;
    }
  }

  .activity .a-content {
    margin-top: 0px;
    .title {
        font-size: 20px;
    }

    .tips {
      padding: 0;
      padding-top: 10px;
    }
  }
}